
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel ="stylesheet" href="http://bootswatch.com/4/flatly/bootstrap.min.css">
        {% block stylesheets %}{% endblock %}
    </head>
        <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="/">My_Project </a>
            <ul class="navbar-nav mr-auto">
            </ul>
        </nav>
        <div class="form-group">
            {% form_theme form 'bootstrap_4_layout.html.twig' %}
            {% block body %}


                {% for error in app.flashes %}
                    <div class="text-danger">
                        {{ message }}
                    </div>
                {% endfor %}
                <h3>Connection </h3>
                {{ form_start(form) }}
                {{ form_row (form.userName,{'label':'nom d untilisateur','attr':{ 'placeholder':'nom d untilisateur'}})}}
                {{ form_row (form.passWord ,{'label':'passe Word','attr':{ 'placeholder':'mot de passe'}})}}
                {{ form_row (form.ConfirmePassWord, {'label':'confermation passWord','attr':{ 'placeholder':'confermation passe Word'}})}}
                <button type="submit" class="btn btn_success">se connecter</button>

                {{ form_end(form) }}
            {% endblock %}
            </div>
</body>
</html>